header {
  padding: 8px 0;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  background-color: #1d1f25;
}
header a {
  background-color: inherit; 
  color: rgb(116, 48, 129); 
}
.active-link{
  text-decoration: underline;
  font-weight: bold; /* Дополнительные стили для активной ссылки */
}
